BasedOnStyle: Microsoft
PointerAlignment: Left
BraceWrapping:
  BeforeLambdaBody: true
BinPackArguments: false
BinPackParameters: false
AllowShortIfStatementsOnASingleLine: true
AlignAfterOpenBracket: BlockIndent
BreakConstructorInitializers: AfterColon
PackConstructorInitializers: CurrentLine
